# -------------------------
# .NET
# -------------------------
bin/
obj/
*.dll
*.exe
*.pdb
*.cache

# -------------------------
# Visual Studio
# -------------------------
.vs/
*.user
*.suo

# -------------------------
# Logs
# -------------------------
*.log
Logs/

# -------------------------
# Uploads
# -------------------------
microservices/user-service/uploads/

# -------------------------
# Environment files
# -------------------------
.env
.env.*

# -------------------------
# Node / Angular
# -------------------------
node_modules/
dist/
.angular/

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# documentation (c)
# -------------------------
Documentation2/
frontend/gym-web/documentation/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db