# .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.cache

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log
Logs/

# Environment files
.env
.env.*

# Node (Angular later)
node_modules/
dist/

# OS
.DS_Store
Thumbs.db