# -------------------------
# .NET
# -------------------------
bin/
obj/
*.dll
*.exe
*.pdb
*.cache

**/target/

# -------------------------
# Visual Studio
# -------------------------
.vs/
*.user
*.suo

# -------------------------
# Logs
# -------------------------
*.log
Logs/

# -------------------------
# Uploads
# -------------------------
microservices/user-service/uploads/

# -------------------------
# Environment files
# -------------------------
.env
.env.*

# -------------------------
# Symfony / cart-service
# -------------------------
microservices/cart-service/backend/vendor/
microservices/cart-service/backend/var/
microservices/cart-service/backend/public/bundles/
microservices/cart-service/backend/public/uploads/
microservices/cart-service/backend/config/jwt/*.pem
microservices/cart-service/backend/.env.local
microservices/cart-service/backend/.env.*.local
microservices/booking-service/backend/vendor/
microservices/booking-service/backend/var/
microservices/booking-service/backend/public/bundles/
microservices/booking-service/backend/public/uploads/
microservices/booking-service/backend/config/jwt/*.pem
microservices/booking-service/backend/.env.local
microservices/booking-service/backend/.env.*.local

# -------------------------
# Node / Angular
# -------------------------
node_modules/
dist/
.angular/

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# documentation (c)
# -------------------------
Documentation2/
frontend/gym-web/documentation/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db
