<!-- Main Wrapper -->
<div class="main-wrapper authendication-pages">

  <!-- Page Content -->
  <div class="content blur-ellipses login-password">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-7 mx-auto vph-100 d-flex align-items-center">
          <div class="change-password w-100">

            <app-auth-card>

              <h2>Change Password</h2>
              <p>Your New Password must be different from<br>
                Previous used Password</p>
              <!-- Login Form -->
              <form>
                <div class="form-group">
                  <div class="pass-group group-img">
                    <i class="toggle-password" [class.feather-eye]="showPassword" [class.feather-eye-off]="!showPassword" (click)="togglePassword()"></i>
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control pass-input" placeholder="New Password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="pass-group group-img">
                    <i class="toggle-password-confirm" [class.feather-eye]="showConfirmPassword" [class.feather-eye-off]="!showConfirmPassword" (click)="toggleConfirmPassword()"></i>
                    <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control pass-confirm" placeholder="Confirm Password">
                  </div>
                </div>
                <a routerLink="/login" class="btn btn-secondary w-100 d-inline-flex justify-content-center align-items-center">Change Password<i class="feather-arrow-right-circle ms-2"></i></a>
              </form>
              <!-- /Login Form -->

              <p card-footer>Have an account? <a routerLink="/login">Sign In!</a></p>

            </app-auth-card>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->
</div>
<!-- /Main Wrapper -->
