.stripe-card-container {
  background-color: #fff;
  min-height: 50px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.stripe-card-container:hover {
  border-color: #86b7fe;
}
#card-element {
  width: 100%;
}
