POSTGRES_PASSWORD=postgres
JWT_ISSUER=user-service
JWT_AUDIENCE=pfa-app
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
EMAIL_SMTP_USER=
EMAIL_SMTP_PASS=
BOOTSTRAP_ADMIN_PASSWORD=Admin@123