# Build
bin/
obj/

# User-specific
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code / VS
.vscode/
.idea/
*.DotSettings.user

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
.env
docker-compose.override.yml

# EF Core
*.db
*.sqlite

# Publish output
app/publish/

# Secrets
appsettings.Development.json
appsettings.Local.json
