<div class="banner-bg {{modifierClass}}">
  <div class="row no-margin h-100">
    <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
      <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="text-bg register text-center">
          <button type="button" class="btn btn-limegreen text-capitalize">
            <i class="fa-solid fa-thumbs-up me-3"></i>{{ buttonText }}
          </button>
          <p>{{ description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
